// header style
/* import custom variables */
@import "~scss/variables";

/* import custom variables */
@import "~scss/mixins";

%footer-icon  {
    width: 33px;
    height: 33px;
    line-height: 33px;
    border-radius: 50%;
    background-color: $transparent_gray;
    color: $white;
    display: block;
    float: left;
    text-align: center;
    margin-right: 12px;
    text-decoration: none;
}
#footer {
    background-color: $blue_charcoal;
    .top-footer {
        border-bottom: 1px solid $transparent_gray;
        .title {
            h4 {
                color: $white;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 20px;
            }
        }
        p {
            color: $light_gray;
            line-height: 30px;
            text-align: justify;
            max-width: 500px;
        }
        .social {
            a {
                @extend %footer-icon;
                &:hover {
                    background-color: $red;
                }
            }
        }
        .info {
            .fa {
                @extend %footer-icon;
            }
            li:hover {
                .fa {
                    background-color: $red;
                }
            }
            @include break-point-lower-than(950px) {
                max-width: 50%;
                flex: 0 0 50%;
            }
            @include break-point-lower-than(575px) {
                max-width: 100%;
                flex: 0 0 100%;
            }
        }
        li, a {
            color: $light_gray;
            text-transform: capitalize;
            font-size: 14px;
            margin-bottom: 10px;
        }
        a:hover {
             color: $red;
             text-decoration: none;
        }
        .contact {
            position: relative;
            li {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
            }
            &:before {
                content: "";
                @include position(absolute, $top: 0, $left: -48px);
                width: 1px;
                height: 100%;
                background: $transparent_gray;
                @include break-point-lower-than(1200px) {
                    display: none;
                }
            }
        }
        .payment {
            img {
                max-width: 50px;
                @include break-point-lower-than(1200px) {
                    max-width: 45px;
                }
            }
        }
    }
    .copyright {
        color: $white;
        a {
            color: $red;
        }
        @include break-point-lower-than(991px) {
            font-size: 14px;
        }
    }
    #back-top { 
        a {
            @include position(fixed, $right: 15px, $bottom: 10px, $index: 9999);
            width: 50px;
            height: 50px;
            line-height: 50px;
            background-color: $red;
            font-size: 20px;
            color: $white;
        }
        @include break-point-lower-than(991px) {
            display: none;
        }

    }
}
